module.exports = {
    email: 'my.email@domain.de',
    password: 'STRONGPASSWORD',
    //token: 'token', // not needed on private server
    branch: 'master', // name of the branch you like to publish to. Has to be present on the server.
    //ptr: false, // not needed on private server
    host: 'server.domain',
    port: 21025, // default game server port (not API). May be different. Ask your server admin.
    secure: false // or true if https
};